* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grotesk-font: 'Hanken Grotesk', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--grotesk-font);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
